
<div>
    <h2><span>Video</span> {{vm.video.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Upload Video</span></dt>
        <dd>
            <div ng-if="vm.video.uploadVideo">
                <a ng-click="vm.openFile(vm.video.uploadVideoContentType, vm.video.uploadVideo)">open</a>
                {{vm.video.uploadVideoContentType}}, {{vm.byteSize(vm.video.uploadVideo)}}
            </div>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
            <span>{{vm.video.title}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.video.description}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{vm.video.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Author</span></dt>
        <dd>
            <span>{{vm.video.author}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{vm.video.user.firstName}} {{vm.video.user.lastName}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="video-detail.edit({id:vm.video.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
