
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myVideoLabel">Create or edit a Video</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.video.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.video.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_path">Path</label>
            <input type="text" class="form-control" name="path" id="field_path"
                    ng-model="vm.video.path"
                    required />
            <div ng-show="editForm.path.$invalid">
                <p class="help-block"
                    ng-show="editForm.path.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.video.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.video.title"
                    required />
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.video.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.createdDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.createdDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group" ngf-drop ngf-change="vm.setImage($files, vm.video.image)" ngf-accept="'image/*'">
            <label for="field_image">Foto</label>
            <!--<div>
                <img data-ng-src="{{'data:image/*;base64,' + vm.video.image}}" style="max-height: 100px;" ng-if="vm.video.image"/>
                <div class="help-block clearfix">
                    <span class="pull-left">{{vm.byteSize(vm.video.image)}}</span>
                    <button ng-click="vm.video.image = null"
                            ng-if="vm.video.image"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                         accept="image/*" ng-model="vm.video.image">
                    Subir imagen
                </button>
            </div>-->
            <input type="file" ngf-select class="btn btn-default btn-block" name="image" id="field_image"
                    ng-model="vm.video.image" accept="image/*"
                    required>
            <div ng-show="editForm.createdDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.createdDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.video.user" ng-options="user as user.firstName for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
